body {
    background-color: lightcyan;
}

#personalInfo {
    display: flex;
    text-align: center;
    width: 30%;
    position: fixed;
}

#content {
    display: inline-block;
    float: right;
    width: 70%;
    height: 100%;
}